/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 11:07:32 PM
    Author     : nagashayana r
*/
html,body{
    font-family: 'Lato', sans-serif !important;
}
body>#container{
    min-height: 1000px;
}

.view-order{
    font-size: 17px;
}

.info-div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-info-div{
    padding-top: 5px;
    padding-bottom: 10px;
}

