

	<!-- Container -->
	<div id="container">

		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""></a>
			</div>

			<a class="elemadded responsive-link" href="#">Menu</a>

			<nav class="nav-menu">
				<ul class="menu-list">
					<li><a class="active" href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li class="drop"><a href="services.html">Our Services</a>
						<ul class="dropdown">
							<li><a href="transportation.html">Transportation</a></li>
							<li><a href="packing.html">Packing</a></li>
							<li><a href="removals.html">Removals</a></li>
							<li><a href="collecting.html">Collecting</a></li>
							<li><a href="preaparing.html">Preapring</a></li>
							<li><a href="delivery.html">Delivery</a></li>
						</ul>
					</li>
					<li><a href="blog.html">News</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<div class="guide-box">
				<h2>Instruction</h2>
				<ul>
					<li><a href="http://nunforest.com/pdf/guide.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Guide 1</a></li>
					<li><a href="http://nunforest.com/pdf/guide.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Guide 2</a></li>
				</ul>
			</div>
		</header>
		<!-- End Header -->

		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<ul class="info-list">
									<li>
										<p><i class="fa fa-phone"></i>Call us <span>1234 - 5678 - 9012</span></p>
									</li>
									<li>
										<p><i class="fa fa-clock-o"></i>Working time <span>08:00 - 20:00</span></p>
									</li>
									<li>
										<p><i class="fa fa-envelope"></i>Writte us <span>nunforest@gmail.com</span></p>
									</li>
								</ul>
							</div>	
							<div class="col-sm-4">
								<ul class="social-icons">
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
									<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>	
						</div>
					</div>
				</div>

				<!-- home-section 
					================================================== -->
				<section id="home-section" class="slider1">
					
					<!--
					#################################
						- THEMEPUNCH BANNER -
					#################################
					-->
					<div class="tp-banner-container">
						<div class="tp-banner" >
							<ul>	<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
									<!-- MAIN IMAGE -->
									<img src="upload/slide/1.jpg"  alt="slidebg1" data-lazyload="upload/slide/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
										data-x="200"
										data-y="190" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="left-top corner-border"></span>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
										data-x="200"
										data-y="330" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="left-bottom corner-border"></span>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
										data-x="900"
										data-y="190" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="right-top corner-border"></span>
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
										data-x="900"
										data-y="330" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="right-bottom corner-border"></span>
									</div>

									<!-- LAYER NR. 5 -->
									<div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0"
										data-x="320"
										data-y="270" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1200"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">Moving can't be easier
									</div>

								</li>

								<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
									<!-- MAIN IMAGE -->
									<img src="images/dummy.png"  alt="2" data-lazyload="upload/slide/2.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
										data-x="200"
										data-y="190" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="left-top corner-border"></span>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
										data-x="200"
										data-y="330" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="left-bottom corner-border"></span>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
										data-x="900"
										data-y="190" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="right-top corner-border"></span>
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
										data-x="900"
										data-y="330" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="right-bottom corner-border"></span>
									</div>

									<!-- LAYER NR. 5 -->
									<div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0"
										data-x="340"
										data-y="270" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1200"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">Believe your dream
									</div>
								</li>
								<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="Parallax 3D">
									<!-- MAIN IMAGE -->
									<img src="upload/slide/3.jpg"  alt="3dbg" data-lazyload="upload/slide/3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
										data-x="200"
										data-y="190" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="left-top corner-border"></span>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
										data-x="200"
										data-y="330" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="left-bottom corner-border"></span>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption lft tp-resizeme rs-parallaxlevel-0"
										data-x="900"
										data-y="190" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="right-top corner-border"></span>
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
										data-x="900"
										data-y="330" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1000"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span class="right-bottom corner-border"></span>
									</div>

									<!-- LAYER NR. 5 -->
									<div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0"
										data-x="345"
										data-y="270" 
										data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
										data-speed="1000"
										data-start="1200"
										data-easing="Power3.easeInOut"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0.1"
										data-endelementdelay="0.1"
										style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">We have tradition
									</div>
								</li>
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
				</section>
				<!-- End home section -->

				<!-- banner-section 
					================================================== -->
				<section class="banner-section">
					<div class="container">
						<h2>All You Need for transport Creative &amp; Professional<a href="projects.html" class="button-one">click here</a></h2>
					</div>
				</section>
				<!-- End banner section -->

				<!-- services-offer 
					================================================== -->
				<section class="services-offer-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<div class="offer-post">
									<a href="services.html"><img src="upload/others/con22.jpg" alt=""></a>
									<h2><a href="services.html">PREPARING</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="offer-post">
									<a href="services.html"><img src="upload/others/con2.jpg" alt=""></a>
									<h2><a href="services.html">COLLECTING</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="offer-post">
									<a href="services.html"><img src="upload/others/con3.jpg" alt=""></a>
									<h2><a href="services.html">Reassembling</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End services-offer section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">

							<div class="col-sm-7">
								<div class="about-us-box">
									<h1>about us and our priorities</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</p>
									<div class="row">
										<div class="col-sm-6">
											<div class="about-us-post">
												<a href="#"><i class="fa fa-dropbox"></i></a>
												<h2>Packaging</h2>
												<span>We package &amp; store</span>
											</div>
											<div class="about-us-post">
												<a href="#"><i class="fa fa-globe"></i></a>
												<h2>Worldwide</h2>
												<span>Everywhere</span>
											</div>
											<div class="about-us-post">
												<a href="#"><i class="fa fa-plane"></i></a>
												<h2>Plane</h2>
												<span>Faster with plane</span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="about-us-post">
												<a href="#"><i class="fa fa-truck"></i></a>
												<h2>Transporting</h2>
												<span>We fast transport</span>
											</div>
											<div class="about-us-post">
												<a href="#"><i class="fa fa-hand-lizard-o"></i></a>
												<h2>Hand to Hand</h2>
												<span>Secure Transport</span>
											</div>
											<div class="about-us-post">
												<a href="#"><i class="fa fa-user-secret"></i></a>
												<h2>Secure</h2>
												<span>We guarantee</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-5">
								
								<div class="about-box">
									<img src="upload/others/iso1.jpg" alt="">
									<h2>Who we are</h2>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore.</p>
								</div>

							</div>

						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- news-section 
					================================================== -->
				<section class="news-section">
					<div class="container">
						<div class="news-title">
							<h2>Our - Latest News</h2>
						</div>
						<div class="news-box">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-post">
										<div class="news-gallery">
											<img src="upload/others/ser1.jpg" alt="">
											<div class="date-post">
												<p>June <span>15</span></p>
											</div>
										</div>
										<div class="news-content">
											<h2><a href="single-post.html">Our News post 1</a></h2>
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
											cillum dolore eu fugiat nulla pariatur.</p>
											<a href="single-post.html">Read More <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="news-post">
										<div class="news-gallery">
											<img src="upload/others/ser2.jpg" alt="">
											<div class="date-post">
												<p>June <span>17</span></p>
											</div>
										</div>
										<div class="news-content">
											<h2><a href="single-post.html">Our News post 2</a></h2>
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
											cillum dolore eu fugiat nulla pariatur.</p>
											<a href="single-post.html">Read More <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="news-post">
										<div class="news-gallery">
											<img src="upload/others/ser3.jpg" alt="">
											<div class="date-post">
												<p>June <span>20</span></p>
											</div>
										</div>
										<div class="news-content">
											<h2><a href="single-post.html">Our News post 3</a></h2>
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
											cillum dolore eu fugiat nulla pariatur.</p>
											<a href="single-post.html">Read More <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</section>
				<!-- End news section -->

				<!-- projects 
					================================================== -->
				<section class="projects-section">
					<div class="container">
						<div class="project-title">
							<h2>Latest from our gallery</h2>
						</div>
						<div class="project-box iso-call">
							<div class="project-post buildings isolation">
								<img src="upload/projects/1.jpg" alt="">
								<div class="hover-box">
									<a class="zoom" href="upload/projects/1.jpg"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="project-post interior">
								<img src="upload/projects/2.jpg" alt="">
								<div class="hover-box">
									<a class="zoom" href="upload/projects/2.jpg"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="project-post buildings isolation">
								<img src="upload/projects/3.jpg" alt="">
								<div class="hover-box">
									<a class="zoom" href="upload/projects/3.jpg"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="project-post buildings">
								<img src="upload/projects/4.jpg" alt="">
								<div class="hover-box">
									<a class="zoom" href="upload/projects/4.jpg"><i class="fa fa-search"></i></a>
								</div>
							</div>s
							<div class="project-post interior isolation">
								<img src="upload/projects/5.jpg" alt="">
								<div class="hover-box">
									<a class="zoom" href="upload/projects/5.jpg"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="project-post energy">
								<img src="upload/projects/6.jpg" alt="">
								<div class="hover-box">
									<a class="zoom" href="upload/projects/6.jpg"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End projects -->

				<!-- quote-section 
					================================================== -->
				<section class="quote-section">

					<div id="map"></div>

					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-sm-offset-7">
								
								<div class="quote-box">
									<h1>Free quote to contact us</h1>

									<form id="contact-form">
										<input name="name" id="name" type="text" placeholder="Name">
										<input name="mail" id="mail" type="text" placeholder="Email">
										<input name="tel-number" id="tel-number" type="text" placeholder="Phone">
										<textarea name="comment" id="comment" placeholder="Message"></textarea>
										<input type="submit" id="submit_contact" value="Send Message">
										<div id="msg" class="message"></div>
									</form>
								</div>

							</div>
						</div>
					</div>

				</section>
				<!-- End quote section -->

				<!-- testimonial-section 
					================================================== -->
				<section class="testimonial-section">
					<div class="container">

						<div class="title-section">
							<h1>Clients Testimonials</h1>
						</div>

						<div class="testimonial-box">
							<ul class="bxslider">
								<li>
									<h2>John Smith</h2>
									<span>TransGO Chief</span>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. <br> Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,<br> ultricies in, diam. Sed arcu. Cras consequat.</p>
								</li>
								<li>
									<h2>Besim Dauti</h2>
									<span>Project Menager</span>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. <br> Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,<br> ultricies in, diam. Sed arcu. Cras consequat.</p>
								</li>
								<li>
									<h2>Quan Ngyen</h2>
									<span>Packing Menager</span>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. <br> Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,<br> ultricies in, diam. Sed arcu. Cras consequat.</p>
								</li>
							</ul>
						</div>

					</div>
				</section>
				<!-- End testimonial section -->

				<!-- clients-section 
					================================================== -->
				<section class="clients-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<ul class="client-list">
									<li>
										<a href="#"><img src="images/clients/client1.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client2.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client3.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client4.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client5.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client6.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client1.png" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="images/clients/client2.png" alt=""></a>
									</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<blockquote>
									<p>There are some of <span>our partners</span> and <span>customers</span>, who are very satisfied with our work. <br>Do you want to be <span>next one</span> ?</p>
								</blockquote>
							</div>
						</div>

					</div>
				</section>
				<!-- End clients section -->

				<!-- footer 
					================================================== -->
				<footer>
					<div class="up-footer">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="footer-widget">
										<h2>About Us</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna.</p>
										<img src="images/footer-logo.png" alt="">
									</div>
								</div>
								<div class="col-md-4">
									<div class="footer-widget">
										<h2>Flickr widget</h2>
										<ul class="flickr">
											<li><a href="#"><img src="upload/flickr/1.jpg" alt=""></a></li>
											<li><a href="#"><img src="upload/flickr/4.jpg" alt=""></a></li>
											<li><a href="#"><img src="upload/flickr/5.jpg" alt=""></a></li>
											<li><a href="#"><img src="upload/flickr/6.jpg" alt=""></a></li>
											<li><a href="#"><img src="upload/flickr/7.jpg" alt=""></a></li>
											<li><a href="#"><img src="upload/flickr/8.jpg" alt=""></a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-4">
									<div class="footer-widget info-widget">
										<h2>Info</h2>
										<p class="first-par">You can contact or visit us during working time.</p>
										<p><span>Tel: </span> 1234 - 5678 - 9012</p>
										<p><span>Email: </span> support@flatbuild.com</p>
										<p><span>W.Hours: </span> 8:00 a.m - 17:00 a.m</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p class="copyright">
						&copy; Copyright 2016. "TransGO" by Nunforest. All rights reserved.
					</p>
				</footer>
				<!-- End footer -->
			</div>
		</div>
		<!-- End Content -->

	</div>
	