/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 8:20:34 PM
    Author     : nagashayana r
*/

html,body{
    font-family: 'Lato', sans-serif !important;
}

.top-line ul.social-icons .signin,.top-line ul.social-icons .register{
max-width: 140px;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}
.top-line ul.social-icons .signin{
    margin-right: 2px;
}
header nav.nav-menu ul.menu-list li .mobile-auth{
   display: none;
}
.gps-img-parent{
    position: relative;
}
.gps-symbol{
    position: absolute;
    top: 33px;
    right: 20px;
}
.modal-dialog{
    z-index: 9999;
}
.modal-body{
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.modal-body span{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 1020px) and (max-width: 1280px) {
    .modal-dialog{
        left: 80px;
    }
} 
@media (max-width: 1200px) {
    .modal-dialog{
        top: 200px;
    }
}

.order-details{
    font-size: 17px;
}

.info-div{
    padding-top: 10px;
    padding-bottom: 15px;
}

.no-link{
    pointer-events: none;
}
.about-us{
    line-height: 25px;
    font-size: 15px;
    padding-left: 45px !important;
    padding-right: 75px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;

}

th,td{
        text-align: center;
    }
.section-break{   
    padding-bottom: 16px;
}
.footer-img-div{
    color: white;
    
}
.footer-img-div span{
    float: left;
}
.footer-img-div .text-1{
    float: left;
    margin-top: 24px;
}
.footer-img-div .text-2{
    margin-top: 42px;
    margin-left: -51px;
}
.footer-img-div img{
    width: 62px;
}

.new-offer-price{
   max-width: 115px;
}

#solidoptions,#liquidoptions,#gasoptions,#containeroptions,#openbodyoptions,#second_list_div,#customsize{
    display: none;
}
